* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #217485, #645391);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

form button {
  border: 2px solid black;
  background-color: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  color: black;
  background-color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background-color: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}

.delete-btn {
  border: 2px solid rgb(226, 21, 21);
  background-color: rgb(226, 21, 21);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 1rem;
}

.complete-btn {
  border: 2px solid rgb(24, 80, 49);
  background-color: rgb(24, 80, 49);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 1rem;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
  padding: 1rem;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: black;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}

.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: black;
  cursor: pointer;
  pointer-events: none;
}
